.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 12rem;
    overflow: hidden;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    color: #133449;
    font-weight: 600;
}
.logoContainer {
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
}
.logoSlogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #133449;
}
.logoDescription {
    display: flex;
    flex-direction: column;
}
.logoSlogan h2 {
    font-size: 5rem;
    font-weight: 400;
}
.logoSlogan p {
    font-size: 2rem;
    font-weight: 200;
    margin-top: -.4em;
    letter-spacing: 2.3px;
}
.logotype {
    height: 260px;
}
.icons {
    display: flex;
    gap: .5rem;
}
.icon {
    font-size: 4.4rem;
    color: #133449;
    display: flex;
    flex-basis: 1;
}
.iconRow {
    display: flex;
    align-items: center;
}
.iconRow p {
    padding: .5rem;
}
.buttonContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem 0
}
.buttonOrder {
    padding: 1rem 2rem;
    border: 2px solid #C0C0C0;
    background-color: #133449;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonOrder:hover {
    background-color: white;
    color: #133449;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #133449;
}
.buttonContacts {
    padding: 1rem 2rem;
    border: 2px solid #133449;
    background-color: white;
    color: #133449;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonContacts:hover {
    background-color: #133449;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
}
.typesRightB {
    padding: 0 0 1rem;
}
.typesRightB p {
    font-family: "Roboto";
}
.variants {
    display: inline-flex;
    border: 2px solid #133449;
    border-radius: .25rem;
    margin: 0 0 .5rem 0;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    background-color: white;
    height: 80px;
}
.variants a {
    color: #133449;
    font-weight: 600;
}
.varItem {
    display: inline-flex;
    font-size: 1.6rem;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0;
    transition: transform 0.3s ease;
}
.varItem:hover {
    transform: scale(1.021);
    color: #ff8c00;
}
.varItem:hover .buttonIcon {
    color: #ff8c00; /* Change buttonIcon styles when varItem is hovered */
}
.divider {
    height: 80%;
    width: 3px;
    background-color: #ffd700;
}
.buttonIcon {
    color: #133449;
    font-size: 3.2rem;
    margin: 0 0 -.4rem;
    padding: 0 .5rem 0 0;
    font-weight: 300;
}
.description {
    display: flex;
    align-items: flex-start;
    padding-bottom: .77rem;
}
.buttonsIcons {
    font-size: 1.5em;
    margin-bottom: -.2em;
    padding-right: .5rem;
}
@media only screen and (max-width: 2240px) {
    .container {
        padding: 2rem 8rem;
    }
}
@media only screen and (max-width: 2120px) {
    .container {
        padding: 2rem 4rem;
    }
}
@media only screen and (max-width: 1974px) {
    .container {
        padding: 2rem;
    }
}
@media only screen and (max-width: 1920px) {
    .container {
        padding: 2rem 1rem 0;
    }
    .logotype {
        height: 180px;
    }
    .logoSlogan h2 {
        font-size: 3.2rem;
    }
    .logoSlogan p {
        font-size: 1.2rem;
    }
    .description {
        display: none;
    }
}
@media only screen and (max-width: 1600px) {
    .variants {
        display: none;
    }
    .title {
        font-size: 3.2rem;
    }
    .logoContainer {
        padding: 1rem 0;
    }
    .logotype {
        height: 137px;
    }
    .logoSlogan h2 {
        font-size: 2.8rem;
    }
    .logoSlogan p {
        font-size: 1rem;
    }
    .buttonContainer {
        justify-content: center;
    }
}
@media only screen and (max-width: 1340px) {
    .logoContainer {
        flex-direction: column;
        gap: .66rem;
    }
    .logotype {
        height: 166px;
    }
    .logoSlogan h2 {
        font-size: 3.2rem;
    }
    .logoSlogan p {
        font-size: 1.16rem;
    }
}
@media only screen and (max-width: 1000px) {
    .icons {
        flex-wrap: wrap;
    }
    .iconRow {
        flex: 1 1 300px;
    }
}
@media only screen and (max-width: 820px) {
    .buttonOrder, .buttonContacts {
        padding: 1rem;
    }
}
@media only screen and (max-width: 760px) {
    .logoContainer {
        padding: 0;
    }
    .buttonContainer {
        flex-direction: column;
        gap: .5rem;
    }
    .title {
        font-size: 2.3rem;
        padding-bottom: .5rem;
    }
}
@media only screen and (max-width: 600px) {
    .title {
        text-align: right;
    }
}
@media only screen and (max-width: 580px) {
    .logotype {
        height: 110px;
    }
    .logoSlogan h2 {
        font-size: 2.3rem;
    }
    .logoSlogan p {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 540px) {
    .container {
        padding-top: 4rem;
    }
    .title {
        text-align: center;
    }
}
@media only screen and (max-width: 460px) {
    .buttonOrder, .buttonContacts {
        padding: .66rem;
    }
    .title {
        display: none;
    }
    .container {
        padding-top: 1.6rem;
    }
}
@media only screen and (max-width: 400px) {
    .buttonsIcons {
        font-size: 1.2em;
    }
    .buttonOrder, .buttonContacts {
        padding: .44rem;
        font-size: .8rem;
    }
}
@media only screen and (max-width: 380px) {
    .container {
        padding-top: 3.2rem;
    }
    .logotype {
        height: 86px;
    }
    .logoSlogan h2 {
        font-size: 1.8rem;
    }
    .logoSlogan p {
        font-size: .6rem;
    }
    .icons {
        gap: 0;
    }
    .icon {
        font-size: 2.7rem;
    }
    .iconRow p {
        padding: .23rem;
        font-size: .7rem;
    }
}