.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
}
.container {
    display: flex;
    gap: 1rem;
    padding: 1rem 0 0;
}
.why {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-image: 
    linear-gradient(#1b1f3d3e, #1b1f3d3e),
    url(../forIndustrial/img/service.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.why h2 {
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px #09131c;
    padding: 2rem;
}
.section {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; /* Add gap between items */
    align-content: flex-start;
}
.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px; /* Allow items to grow and shrink, with a minimum width */
    min-width: 250px; /* Optional: Set a minimum width for items */
    border: 1px solid #1B1F3D;
    border-radius: 4px;
    padding: 1rem 1rem .5rem;
}
.row {
    display: flex;
    gap: .4rem;
    text-transform: uppercase;
    align-items: center;
}
.icon {
    font-size: 2.3rem;
    background-color: #ff8c00;
    padding: .5rem .5rem 0;
    color: white;
}
.info p{
    text-align: justify;
    padding: .8rem 0 0;
}
.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}

.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.scheme {
    display: flex;
    gap: .8rem;
}
.poster {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    max-height: 400px;
}
.poster img {
    max-height: 400px;
    border-radius: 6px;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 460px;
    padding: .25rem 0;
}
.descRow {
    display: flex;
    align-items: center;
}
.value {
    font-size: 2.3rem;
    padding: 1rem;
    background-color: #ff8c00;
}
.value p {
    font-family: 'Rubik';
    color: white;
    font-weight: 700;
}
.text {
    padding: 0 0 0 1rem;
}
.titleDesc {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.titleDesc h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
    text-align: center;
    color: #1B1F3D;
    padding: 0 0 0 1rem;
}
@media only screen and (max-width: 1600px) {
    .wrapper {
        padding: 2rem 2rem 3rem;
    }
}