.container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
}
.top {
    padding: 0 6rem;
    margin: 0 0 -4px;
    z-index: 1;
}
.topContent {
    display: flex;
}
.topContentL, .topContentR {
    width: 50%;
}
.topContentR {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}
.topContentR p {
    text-align: justify;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}
.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.top h2 {
    color: #1B1F3D;
    font-size: 2.1rem;
    padding: 2rem 0;
    text-shadow: 1px 1px #e4e4e4;
}
.bottom {
    display: flex;
}
.bottom h2 {
    color: #1B1F3D;
    font-size: 2rem;
    padding: 0 0 1rem 1em;
}
.squareForIcon {
    display: inline-flex;
    width: fit-content; /* Ensures the width only wraps the content */
    height: fit-content; /* Also make height fit the content */
    color: white;
    font-size: 4rem;
    padding: 1.6rem;
    background-color: #ff8c00;
    align-items: center;
    justify-content: center;
}
.b01, .b02, .b03, .b04 {
    display: flex;
    flex: 1;
    padding: 2rem 2rem 0;
    background-color: #F5F5DC;
}
.bottomMobile {
    display: none;
}
@media screen and (max-width: 1960px) {
    .b01, .b02, .b03, .b04 {
        padding: 1.6rem 1rem .25rem;
    }
    .bottom h2 {
        font-size: 1.6rem;
    }
    .squareForIcon {
        font-size: 3rem;
    }
}
@media screen and (max-width: 1600px) {
    .top {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 1520px) {
    .top {
        padding: 0 2rem;
    }
    .bottom h2 {
        font-size: 1.2rem;
    }
    .squareForIcon{
        font-size: 2.3rem;
        padding: 1rem;
    }
}
@media screen and (max-width: 1200px) {
    .top {
        padding: 0 0 0 .5rem;
    }
    .topContentL h2 {
        font-size: 1.6rem;
    }
    .topContentR, .topContentL {
        padding: 0.5rem;
    }
    .topContentR p {
        font-size: 1rem;
    }
    .b03, .b04 {
        display: none;
    }
    .bottomMobile {
        display: flex;
    }
    .bottomMobile h2 {
        color: #1B1F3D;
        font-size: 1.2rem;
        padding: 0 0 1rem 1em;
    }
    .b03Mobile, .b04Mobile {
        display: flex;
        padding: .6rem 1rem 0.5rem;
    }
    .bottom, .bottomMobile {
        display: flex;
        justify-content: space-around;
        background-color: #F5F5DC;
    }
    .b01, .b02, .b03Mobile, .b04Mobile {
        flex: 1;
        padding-left: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .b01, .b02, .b03Mobile, .b04Mobile {
        padding-left: 1rem;
    }
    .b03Mobile, .b04Mobile {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 660px) {
    .top h2 {
        font-size: 1.6rem;
        padding: 1rem 0;
    }
}
@media screen and (max-width: 620px) {
    .bottomMobile {
        display: none;
    }
    .b03, .b04 {
        display: flex;
    }
    .topContent {
        flex-direction: column;
        padding-bottom: .75rem;
    }
    .bottom {
        flex-direction: column;
        padding-left: 1rem;
    }
    .topContentL, .topContentR {
        width: auto;
        padding: 0 .75rem;
    }
    .top h2 {
        padding: .5rem 0 0;
    }
    .b01, .b02, .b03, .b04 {
        flex: 0;
        align-items: center;
        padding: .6rem 1rem .25rem;
    }
    .squareForIcon {
        font-size: 1.6rem;
        padding: .6rem;
    }
    .bottom h2 {
        padding: 0 0 0 .5rem;
    }
}
@media screen and (max-width: 540px) {
    .bottom {
        padding-left: .25rem;
    }
    .top h2 {
        font-size: 1.2rem;
    }
}