.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 6rem;
    gap: 1rem;
}

.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}

.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
    background-image: linear-gradient(#1b1f3dda, #1b1f3dda), url(./img/advantages-BG1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem;
    background-color: #1B1F3D;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem;
    width: 48%;
    
}

.colContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem 0 0;
    
}

.colContent h4 {
    font-size: 1.6rem;
    text-shadow: 2px 2px #09131c;
}

.col p {
    text-align: justify;
    text-shadow: 2px 2px #09131c;
}

.container h3 {
    font-size: 2.1rem;
    color: #1B1F3D;
}

.icon {
    font-size: 3.1rem;
    padding: 0 1rem 0 0;
}

.header {
    display: flex;
    align-items: end;
}

@media only screen and (max-width: 1600px) {
    .container {
        padding: 1rem 2rem;
    }
    .content {
        padding: 1rem 2rem;
    }
    .container h3 {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        padding: 1rem 0;
    }
}
@media only screen and (max-width: 1000px) {
    .container {
        padding: .5rem 0;
    }
    .header h4 {
        font-size: 1.2rem;
    }
    .content {
        padding: .25rem 1rem;
    }
    .colContent {
        padding: 1rem 0 0;
    }
}
@media only screen and (max-width: 800px) {
    .col {
        flex: 1 1 374px; /* Allow items to grow and shrink with a base size */
        min-width: 360px; /* Set a minimum width for items */
        padding: 0;
    }
    .colContent {
        padding: 0;
    }
    .content {
        padding: 1rem 0.75rem 1.25rem;
    }
}