.wrapper {
    display: flex;
    background-image: url(./img/grass_green_1920x1080.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 16%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px 0 0 .5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
}

.container h2 {
    padding-bottom: .5rem;
    text-align: center;
    color: #1b1f3d;
    text-transform: uppercase;
    font-size: 2.3rem;
}

/* Style for each row in the form */
.Row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: 1; /* This will make all .Row elements take equal space */
}

.combineRow {
    display: flex;
    gap: 2rem;
    width: 100%; /* Ensure full width */
}

.combineRow1 {
    display: flex;
    gap: 2rem;
    width: 100%; /* Ensure full width */
}

.Row span {
    font-size: .8rem;
    padding: 0 0 0 .5rem;
    color: #ff8c00;
}

/* Input and textarea styles */
input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #1b1f3d;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Change border color on focus */
input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ff8c00;
}

.customFileLabel {
    display: flex; /* Change to flex display for better alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #1b1f3d;
    color: white;
    padding: 10px 8px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
}

.customFileLabel:hover {
    background-color: #ffd700;
    color: #1b1f3d;
    border: 1px solid #1b1f3d;
}

/* Textarea field style */
.Row textarea {
    resize: vertical;
    min-height: 100px;
}

.hiddenFileInput {
    display: none;
}

/* Button container */
.RowButtonSend {
    text-align: center;
    margin-top: 20px;
}

/* Submit button styles */
.primary {
    background-color: #1b1f3d;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

/* Change button color on hover */
.primary:hover {
    background-color: #ffd700;
    color: #1b1f3d;
    border: 1px solid #1b1f3d;
}

@media only screen and (max-width: 1600px) {
    .container {
        padding: 2rem;
    }
}