.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: 
    linear-gradient(#1b1f3d21, #1b1f3d8f), /* Overlay color */
    url(./img/main-header-bg-4k.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 12rem 6rem;
}

.сap {
    display: flex;
    gap: 3rem;
}

.variants {
    display: flex;
    border: 2px solid white;
    border-radius: .25rem;
    margin: 0 0 .5rem 0;
    align-items: center;
    background-color: #1b1f3dd0;
}

.varBiz, .varHouse {
    display: flex;
    font-size: 1.6rem;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0;
    color: white;
}

.varBiz:hover, .varHouse:hover {
    color:#ff8c00;
    cursor: pointer;
}

.divider {
    height: 80%;
    width: 4px;
    background-color: #ff8c00;
}


.сapContacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1rem;
}

.сapContactsItem  {
    color: white;
    font-size: 1.2rem;
}

.сapContactsItem:hover {
    color: #ff8c00;
}

.сapContactsItemIcon {
    font-size: 1.5em;
    margin-bottom: -.25em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.logoImg {
    max-height: 6rem;
}

.logo h2 {
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.header h1 {
    text-shadow: 2px 2px #09131c;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    padding: 4rem 0 0;
}

.headerDescription {
    text-shadow: 2px 2px #09131c;
    color: white;
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: justify;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
}

.buttonOrder {
    padding: 1rem 2rem;
    border: 2px solid #C0C0C0;
    background-color: #1B1F3D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
}

.buttonOrder:hover {
    background-color: white;
    color: #1B1F3D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #1B1F3D;
    font-weight: 700;
}

.buttonContacts {
    padding: 1rem 2rem;
    border: 2px solid #1B1F3D;
    background-color: white;
    color: #1B1F3D;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}

.buttonContacts:hover {
    background-color: #1B1F3D;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
}

.buttonIcon {
    font-size: 3.6rem;
    margin: 0 0 -.4rem;
    padding: 0 .5rem 0 0;
}

@media only screen and (max-width: 1600px) {
    .header {
        padding: 6rem 2rem 2rem;
    }
    .logo h2 {
        font-size: 1.6rem;
    }
    .сap {
        gap: 1.6rem;
    }
    .сapContactsItemIcon {
        font-size: 1.2em;
        padding-bottom: .2em;
    }
    .buttonIcon {
        font-size: 2.3rem;
    }
    .header h1 {
        padding: 2rem 0 0;
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .header p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 440px) {
    
}