.container {
    display: flex;
    flex-direction: column;
}

.top {
    padding: 0 6rem;
    margin: 0 0 -4px;
    z-index: 1;
}

.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}

.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.top h2 {
    color: #1B1F3D;
    font-size: 3rem;
    padding: 2rem 0;
    text-shadow: 1px 1px #e4e4e4;
}

.bottom {
    display: flex;
    min-height: 36rem;
}

.b01, .b02, .b03, .b04 {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2rem 2rem 4rem;
    justify-content: space-between;
}

.buttonDesc {
    display: inline-block;
    width: auto;
    align-self: flex-start;
    padding: .8rem 1.6rem;
    border: 2px solid white;
    background-color: #ff8c00;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 500;
}

.buttonDesc:hover {
    background-color: #e4e4e47a;
    border: 2px solid #ff8c00;
    color: #1B1F3D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: .5px .5px #ffffff;
    font-weight: 700;
}

.bottom h2 {
    color: white;
    text-shadow: 2px 2px #09131c;
    font-size: 2rem;
    padding: 0 0 1rem;
}

.bottom ul {
    color: white;
    text-shadow: 2px 2px 3px #09131c;
    padding: .5rem 0 0 1.6rem;
}

.b01 {
    background-image: 
    linear-gradient(#1b1f3d8e, #1b1f3d8e),
    url(./img/flatRoofInstall.webp);
}

.b02 {
    background-image: 
    linear-gradient(#1b1f3d8e, #1b1f3d8e),
    url(./img/parkingInstallation.webp);
}

.b03 {
    background-image: 
    linear-gradient(#1b1f3d8e, #1b1f3d8e),
    url(./img/pitchedRoof.webp);
}

.b04 {
    background-image: 
    linear-gradient(#1b1f3d8e, #1b1f3d8e),
    url(./img/earthInstallation.webp);
}

.b01, .b02, .b03, .b04 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1600px) {
    .top {
        padding: 0 2rem;
    }
    .top h2 {
        padding: 1rem 0;
        font-size: 2rem;
    }
    .bottom h2 {
        font-size: 1.6rem;
    }
}