.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(./img/main-header-bg-4k.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 12rem;
}

.headerContent {
    display: flex;
    justify-content: space-between; /* Ensure they stay side by side with no gaps */
    width: 100%; /* Make sure headerContent spans the full width */
    gap: 2rem;
}

.headerLeft, .headerRight {
    width: 50%; /* Set each side to take up half of the space */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.headerLeft {
    justify-content: center; /* Center the content vertically */
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}

.buttonOrder {
    padding: 1rem 2rem;
    border: 1px solid #C0C0C0;
    border-radius: .25rem;
    background-color: #1B1F3D;
    color: white;
    text-shadow: 1px 1px #09131c;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-family: "Montserrat regular";
    font-weight: 500;
}

.buttonOrder:hover {
    background-color: white;
    color: #1B1F3D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #1B1F3D;
}

.buttonContacts {
    padding: 1rem 2rem;
    border: 1px solid #1B1F3D;
    border-radius: .25rem;
    background-color: white;
    color: #1B1F3D;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-family: "Montserrat regular";
    font-weight: 600;
}

.buttonContacts:hover {
    background-color: #1B1F3D;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
}

.headerRight {
    gap: 2rem;
    border: 1px solid #c0c0c0;
    border-radius: .5rem;
    align-items: center; /* Center the content horizontally */
    background-color: #0800001c;
}

.header h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat regular";
}

.headerRight h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;;
    font-family: "Montserrat regular";
}

.header p {
    color: white;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: justify;
}

.content {
    padding-top: 1em;
}

.sheetLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content p {
    color: white;
    padding-left: .5rem;
    font-size: 1.6rem;
    white-space: initial;
    word-wrap: break-word
}

@media only screen and (max-width: 800px) {
    .header p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 440px) {
    .content p {
        font-size: 1.2rem;
    }
}