.container {
    display: flex;
    padding: 4rem 6rem 2rem;
}

.c1, .c2, .c3 {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.c1top {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.c1topDescription {
    color:#1B1F3D;
    font-size: 1.2rem;
    padding: 2rem 1rem 0 0;
    text-align: justify;
}

.c1, .c2 {
    overflow: visible;
}

.c1top h2 {
    position: relative;
    z-index: 1;
    font-size: 2.7rem;
    font-weight: 600;
    width: 200%;
}

.c1topPeriod {
    color: #ff8c00;
    font-size: 4.4rem;
    font-weight: 700;
}

.c1top h3 {
    color: #1B1F3D;
    font-size: 1.6rem;
}

.c1bottom {
    background-color: #c0c0c0;
    height: 30%;
}

.c2top {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 0;
}

.c2top h3 {
    color: #1B1F3D;
    font-size: 2.1rem;
    padding: 0 0 1rem;
}

.c2top p {
    font-weight: 600;
    padding: 0 0 .25rem;
}

.c2bottom {
    height: 60%;
    background-image: 
    linear-gradient(#1b1f3d33, #1b1f3d33),
    url(./img/seaSolarStation.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c3 {
    background-color: #ff8c00;
    color:white;
    min-height: 40rem;
}

.c3content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-shadow: 1px 1px 2px #09131c54;
}

.c3Icon {
    display: flex;
    gap: 1rem;
    font-size: 6rem;
    justify-content: space-around;
}

.c3 h3 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.c3 p {
    font-size: 1.6rem;
}

@media only screen and (max-width: 1600px) {
    .container {
        padding: 2rem;
    }

    .c3content {
        padding: 2rem;
    }
    .c1top h2 {
        font-size: 2.3rem;
    }
}