.container {
    display: flex;
    flex-direction: column;
    background-image: 
    linear-gradient(#1b1f3d8a, #1b1f3d8a),
    url(./img/partners.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding : 6rem;
}

.container h2 {
    color: #1B1F3D;
    font-size: 3rem;
    padding: 3rem 0;
    text-shadow: 1px 1px #e4e4e4;
}

.partners {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    width: 30%;
}

.col img {
    width: 100%;
}