.container {
    display: flex;
    flex-direction: column;
    background-image: 
    linear-gradient(#1b1f3d8a, #1b1f3d8a),
    url(./img/partners.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding : 6rem 6rem 4rem;
}

.container h2 {
    color: white;
    font-size: 3rem;
    padding: 2rem 0 1rem;
    text-shadow: 1px 1px #1B1F3D;
}

.partners {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    width: 30%;
}

.col img {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 1600px) {
    .container {
        padding : 4rem 2rem;
    }
    .container h2 {
        font-size: 2.3rem;
    }
}