.container {
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 1rem;
}
.typesLeft {
    width: 40%;
    display: flex;
}
.right {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.squares {
    display: flex;
    position: relative;
    z-index: 1;
    width: 160%;
}
.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}
.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.typesLeftContent h2 {
    position: relative;
    z-index: 1;
    color: #1B1F3D;
    font-size: 3rem;
    padding: 5rem 0 8rem;
    width: 260%;
    text-shadow: 1px 1px #e4e4e4;
}
.typesLeftContent p {
    text-align: right;
    padding: 1rem .5em 4rem 0;
}
.typesLeftL {
    width: 36%;
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.typesLeftR {
    width: 64%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-image: url(./img/solar_panels_with_wind_turbine.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.typesRightT {
    display: flex;
    justify-content: space-between;
}
.rightTitle {
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: space-between;
}
.rightTitle h2 {
    padding: 0 0 1rem;
}
.typesRightTn {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0;
}
.buttonDesc {
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: space-between;
}
.slogan h2 {
    padding: 1.6rem 0 0;
    font-size: 2rem;
}
.buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem;
}
.buttonTypesDesc {
    display: inline-block;
    width: auto;
    align-self: flex-start;
    padding: .8rem 1.6rem;
    border: 2px solid #ff8c00;
    background-color: #e4e4e4;
    color: #1B1F3D;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}
.buttonTypesDesc:hover {
    background-color: white;
    color: #0d3d91;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffd700;
}
.typesLeftContentDescription {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
}
.typesLeftContentDescription2 {
    display: none;
}
.bottomVerticalLine {
    background-color: #ff8c00;
    width: 8px;
    height: 100%;
    margin-right: 10px;
}
.squaresMobile {
    display: none;
}
.mobileULs {
    display: none;
}
.rightTitleMobile {
    display: none;
}
.buttonDescMobile {
    display: none;
}
@media screen and (max-width: 1600px) {
    .container {
        padding: 2rem 1rem;
    }
    .typesLeftContent h2 {
        font-size: 2rem;

    }
    .typesLeft {
        width: 30%;
        background-image: url(./img/solar_panels_with_wind_turbine.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .right {
        width: 70%;
    }
    .typesLeftR {
        background-image: none;
        justify-content: flex-end;
    }
    .typesLeft {
        padding: .5rem
    }
    .typesLeftContentDescription {
        display: none;
    }
    .typesLeftContentDescription2 {
        display: flex;
        flex-direction: column;
        overflow: visible;
        text-align: right;
        align-items: flex-end;
        align-content: flex-end;
    }
    .typesLeftContentDescription2 p {
        padding: 1em 0;
        color: white;
        text-shadow: 2px 2px 2px #1B1F3D;
    }
    .rightTitle h2 {
        font-size: 1.2rem;
    }
    .typresRightT1 h2, .typresRightT2 h2, .typresRightT3 h2 {
        padding: 0 0 .25rem;
    }
    .rightTitle {
        display: flex;
    }
    .slogan h2 {
        padding: 1rem 0 0;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        padding: 2rem .5rem;
    }
    .typesLeft {
        display: none;
    }
    .right {
        width: auto;
    }
    .squaresMobile {
        display: flex;
    }
    .slogan h2, .rightTitle {
        padding: .25rem 0 0;
    }
    .buttonsContainer {
        padding: .5rem 0 .75rem;
    }
    .bottomVerticalLine {
        height: auto; /* Change this to auto for flexibility */
        align-self: stretch; /* This will make it stretch to the height of the parent */
    }
}
@media screen and (max-width: 800px) {
    .rightTitle {
        justify-content: flex-end;
    }
    .slogan {
        display: none;
    }
    .secondRowULs {
        display: none;
    }
    .ulCols {
        justify-content: flex-start;
    }
    .mobileULs {
        display: flex;
        flex-direction: column;
    }
    .sloganBottom p {
        font-size: .8rem;
    }
    .ulCols ul {
        padding-inline-start: 1.2rem;
    }
}
@media screen and (max-width: 660px) {
    .typesRightTn {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 0;
    }
    .ulCols {
        display: flex;
        flex: 1 1 200px;
        min-width: 240px;
        justify-content: flex-end;
        flex-direction: column;
    }
    .typesRightT {
        display: none;
    }
    .rightTitleMobile {
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
    }
    .rightTitleMobile h2 {
        padding: .75rem 0 .5rem;
    }
    .buttonsContainer {
        display: none;
    }
    .buttonDescMobile {
        display: flex;
        padding: .5rem 0;
    }
}
@media screen and (max-width: 540px) {
    .rightTitleMobile h2 {
        padding: .25rem 0 .5rem;
    }
}