/* sppTypesModals.module.css */

.ModalWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; /* Ensure it takes the full width too */
    overflow: hidden;
}

.ModalContent {
    display: flex;
    align-items: stretch;
    flex-grow: 1; /* Allow this div to expand and fill the modal */
}

.image {
    display: flex;
    flex: 1 1 auto;
    position: relative; /* Required for absolute positioning of the slogan */
    overflow: hidden;
    z-index: 0;
    max-width: 33%;
}

.image img {
    width: 100%;
    display: block; /* Ensures there are no gaps underneath the image */
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1f3d2f;
    z-index: 1;
}

.slogan {
    display: flex;
    flex-direction: column;
    z-index: 1; /* Ensure it's above the image */
    padding: 10px; /* Optional padding for aesthetics */
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background for readability */
    max-width: 33%;
}

.slogan h4 {
    padding: 1.6rem 0 .5rem;
    font-size: 1.2rem;
}

.slogan p {
    text-align: justify;
    font-size: 1.2rem;
    padding: 0 1rem;
}

.squares {
    display: flex;
    z-index: 1;
    width: auto; /* Adjust if needed */
}

.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}

.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.ModalWrapper button {
    border: none;
    background-color: transparent;
}

.CloseModal {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
    color: white;
}

.CloseModal:hover {
    color: #ffd700;
    cursor: pointer;
}

.description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #1B1F3D;
    color: white;
    padding: 1rem;
    max-width: 33%;
}

.descriptionContent {
    padding: 0 2rem;
}

.description h3 {
    font-size: 2rem;
    padding: 0 0 1rem;
}

.ModalP {
    text-align: justify;
}

.list h3 {
    padding: 1.6rem 0 .5rem;
}