/* sppTypesModals.module.css */

.ModalWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; /* Ensure it takes the full width too */
    overflow: hidden;
}

.ModalContent {
    display: flex;
    align-items: stretch;
    flex-grow: 1; /* Allow this div to expand and fill the modal */
    justify-content: flex-end;
}

.image {
    display: flex;
    flex: 1;
    position: relative; /* Required for absolute positioning of the slogan */
    overflow: hidden;
    width: 100%; /* Ensure it takes the full width */
    height: 100%; /* Ensure it takes the full height */
}

.image img {
    display: block;
    object-fit: contain; /* or 'cover' depending on your requirement */
    padding: 1rem;
    width: auto;  /* Maintain original width */
    height: auto; /* Maintain original height */
    max-width: 100%; /* Responsive design */
    max-height: 87vh; /* Prevent overflow */
    margin: 0 auto;
    aspect-ratio: 1.6/1;
}

.slogan {
    display: flex;
    flex-direction: column;
    position: absolute; /* Allow to position absolutely within the image */
    top: 0; /* Top right corner */
    right: 0; /* Align to the right */
    z-index: 1; /* Ensure it's above the image */
    padding: 10px; /* Optional padding for aesthetics */
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background for readability */
}

.slogan h4 {
    padding: .5rem 0 0;
    font-size: 1.2rem;
}

.squares {
    display: flex;
    z-index: 1;
    width: auto; /* Adjust if needed */
}

.orangeSquare {
    background-color: #ff8c00;
    width: 53px;
    height: 53px;
    margin-right: 1rem;
}

.blueTitle {
    background-color: #1B1F3D;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.ModalWrapper button {
    border: none;
    background-color: transparent;
}

.CloseModal {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
    color: white;
}

.CloseModal:hover {
    color: #ffd700;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    background-color: #1B1F3D;
    color: white;
    padding: 1rem;
    max-width: 38%;
}

.descriptionContent {
    padding: 0 2rem;
}

.description h3 {
    font-size: 2rem;
    padding: 0 0 1rem;
}

.ModalP {
    text-align: justify;
}

.list h3 {
    padding: 1.6rem 0 .5rem;
}