.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    display: flex;
    border-color: #ff8c00;
    margin: 0;
}

.react-tabs__tab {
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 2.3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.react-tabs__tab h2:hover {
    color: #ff8c00;
}

.react-tabs__tab h2 {
    color: #1B1F3D;
    font-size: 2.3rem;
}

.react-tabs__tab--selected {
    background-color: #1B1F3D;
    border-color: #ff8c00;
    overflow: hidden;
}

.react-tabs__tab--selected h2:hover {
    color: white;
}

.react-tabs__tab--selected h2 {
    color: white;
}