.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 12rem;
}
.slogan {
    display: flex;
    background-color: #1B1F3D;
    padding: 1rem;
    color: white;
    align-items: center;
    margin: 0 0 1rem;
}
.slogan h1 {
    text-transform: uppercase;
    font-size: 3.1rem;
}
.yellowCube {
    aspect-ratio: 1; /* Ensures the width and height are equal */
    background-color: #ff8c00; /* Yellow color */
    width: 4rem;
    display: inline-block; /* Allows it to sit next to text */
    margin-right: 1rem; /* Space between the cube and the text */
    min-height: 64px;
}
.objects {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; /* Add gap betwe.wrapperen items */
    padding: 1rem 2px 0;
    background-color: #1B1F3D;
    z-index: 2;
    border-right: 1px solid #ff8c00;
    border-left: 1px solid #ff8c00;
    border-bottom: 1px solid #ff8c00;
}
.item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 560px; /* Allow items to grow and shrink, with a minimum width */
    cursor: pointer;
    transition: transform .3s; /* Animation */
}
.item:hover {
    transform: scale(.98); 
}
.imageContainer {
    position: relative;
    overflow: hidden;
}
.imageContainer img {
    width: 100%;
    height: auto;
}
.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px #1B1F3D;
    z-index: 2;
    padding: 1rem;
}
.info h3 {
    padding: .5rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
}
.info p {
    padding: 0 0 .5rem;
}
.hightlight {
    display: inline;
    padding: .25em 0;
    background: #1B1F3DD1;
    color: #ffffff;
    box-shadow: .5em 0 0 #1B1F3DD1, -.5em 0 0 #1B1F3DD1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1f3d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .1;
    transition: opacity 0.3s ease;
}
.item:hover .overlay {
    filter: brightness(120%) saturate(120%);
    opacity: .0; /* Show overlay on hover */
}
@media only screen and (max-width: 1600px) {
    .container {
        padding: 2rem 2rem 1rem;
    }
}
@media only screen and (max-width: 1366px) {
    .slogan h1 {
        font-size: 2.1rem;
    }
    .slogan p {
        font-size: .9rem;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        padding: 2rem .5rem;
    }
}
@media only screen and (max-width: 820px) {
    .info h3 {
        font-size: 1.4rem;
    }
    .info p {
        font-size: .9rem;
    }
}
@media only screen and (max-width: 540px) {
    .info h3 {
        font-size: 1rem;
    }
    .info p {
        font-size: .8rem;
    }
}