.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 12rem;
    align-items: center;
    background-color: aquamarine;
}

@media only screen and (max-width: 1600px) {
    .wrapper {
        padding: 4rem 2rem;
    }
}