.container {
    display: flex;
    flex-direction: column;
    padding: 1rem 6rem;
}
.wrapper h1 {
    padding: .5rem 0 0 6rem;
    text-transform: uppercase;
    font-size: 2.1rem;
    color: #1B1F3D;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.444);
    text-align: right;
}
.description {
    padding: 1rem 0 0;
}
.carousel {
    display: flex;
    flex-direction: column;
}
.tasks {
    display: flex;
    align-items: stretch;
    gap: .5rem;
}
.tasks h6 {
    background: #ff8c00;
    padding: 1rem;
    color: #1B1F3D;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.tasks p {
    background: #1B1F3D;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.specification {
    display: flex;
    padding: 2rem 0 0;
    gap: 2rem;
}
.specification p, li {
    padding: 0 0 .25rem;
}
.specification h3 {
    padding: 0 0 .5rem;
}
.info {
    width: 40%;
}
.results {
    padding: .5rem 0 0;
}
.solution {
    width: 60%;
}
@media only screen and (max-width: 1600px) {
    .container {
        padding: 1rem 1rem .5rem 1rem;
    }
    .wrapper h1 {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 1000px) {
    .wrapper h1 {
        font-size: 1.2rem;
    }
    .tasks p, .tasks h6 {
        font-size: 1rem;
        padding: .5rem;
    }
}
@media only screen and (max-width: 880px) {
    .specification {
        padding: 1rem 0 0.5rem;
        gap: 1rem;
    }
}
@media only screen and (max-width: 800px) {
    .specification {
        flex-direction: column;
    }
    .info, .solution {
        width: 100%;
    }
}
@media only screen and (max-width: 680px) {
    .container {
        padding: .5rem;
    }
    .tasks p, .tasks h6 {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 440px) {
    .wrapper h1 {
        padding: 3rem .5rem 0;
        text-align: center;
        font-size: 1rem;
    }
}