@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat italic';;
  src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto italic';
  src: url('./assets/fonts/Roboto/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik italic';
  src: url('./assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

p {
  font-family: "Rubik";
  margin: 0;
}

ul {
  list-style-type: square;
  margin: 0;
  padding-inline-start: 1.6rem;
}

li {
  font-size: 1rem;
}

/*when PopUp opened disable main page scroll*/
.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
